main {
  padding: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {

  display: flex;
  padding: 1rem;

  @media (min-width: 30rem) {
    width: 100%;
  }

  @media (min-width: 40rem) {
    width: 28%;
  }
}

.mat-mdc-card {
  width: 100%;
  background-color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.fab {
  right: 20px;
  bottom: 20px;
  position: fixed !important;
  z-index: 100;
}

.mat-sidenav-container,
.mat-sidenav-content {
  transform: none !important;
}